<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%-title %></title>

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>

<p> Before the feelings-container</p>
<div id="content">

</div>

<script type="text/javascript" src="/js/libs/require.js" data-main="/js/main.js"></script>
</body>
</html>